{% extends 'loggedbase.html' %}
{% load crispy_forms_filters %}
{% load custom_tags %}

{% block body %}
    {% logged_header 5 %}
    <div style="display: flex; align-content: start; align-items: start; width: 100%; margin: 20px">
        <a href="{% url 'exercise_list' %}">
            <button type="button" class="btn btn-outline-dark">Indietro</button>
        </a>
    </div>
    <div class="container py-5">
        <div class="row mb-4 mb-lg-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h3 class="fw-bold">{% block header %}Crea esercizio{% endblock %}</h3>
            </div>
        </div>
        <form method="post">
            {% csrf_token %}
            {{ form | crispy }}
            <div style="display: flex; justify-content: center; padding-top: 20px">
                <button type="submit" class="btn btn-dark" style="width: 100px; height: 40px">{% block buttonText %}Crea{% endblock %}</button>
            </div>
        </form>
        <div style="display: flex; justify-content: center; align-items: center; align-content: center; margin-top: 20px;">
            {% block extension %} {% endblock %}
        </div>


    </div>


{% endblock %}