{% extends 'loggedbase.html' %}
{% load custom_tags %}

{% block head %}

    <script>
        function search() {
            let input = document.getElementById('search').value;
            window.location.href = "{% url 'manage_workouts' %}" + "?search=" + input;
        }
    </script>
{% endblock %}

{% block body %}
    {% logged_header request 5 %}
    <div style="display: flex; align-content: start; align-items: start; width: 100%; margin: 20px">
        <a href="{% url 'manage_workouts' %}">
            <button type="button" class="btn btn-outline-dark">Indietro</button>
        </a>
    </div>
    <div class="container py-5" style="margin-bottom: 5rem">

        <div class="row mb-4 mb-lg-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h3 class="fw-bold">Gestisci esercizi</h3>
            </div>
        </div>
        <div> {{ search }}</div>
        <div style="display: flex; justify-content: center">
            <a href="{% url 'create_exercise' %}">
                <button class="btn btn-dark">Aggiungi esercizio</button>
            </a>
        </div>
    </div>
{% endblock %}
