<div class="container">
    <div class="row">
        <div class="col-md-1">
            <input type="checkbox" id="hour-0" onchange="toggleHour(this)">
            <label for="hour-0">00:00</label>
        </div>
        <div class="col-md-1">
            <input type="checkbox" id="hour-1" onchange="toggleHour(this)">
            <label for="hour-1">01:00</label>
        </div>
        <div class="col-md-1">
            <input type="checkbox" id="hour-2" onchange="toggleHour(this)">
            <label for="hour-2">02:00</label>
        </div>
        <div class="col-md-1">
            <input type="checkbox" id="hour-3" onchange="toggleHour(this)">
            <label for="hour-3">03:00</label>
        </div>
        <div class="col-md-1">
            <input type="checkbox" id="hour-4" onchange="toggleHour(this)">
            <label for="hour-4">04:00</label>
        </div>
        <div class="col-md-1">
            <input type="checkbox" id="hour-5" onchange="toggleHour(this)">
            <label for="hour-5">05:00</label>
        </div>
        <div class="col-md-1">
            <input type="checkbox" id="hour-6" onchange="toggleHour(this)">
            <label for="hour-6">06:00</label>
        </div>
        <div class="col-md-1">
            <input type="checkbox" id="hour-7" onchange="toggleHour(this)">
            <label for="hour-7">07:00</label>
        </div>
        <div class="col-md-1">
            <input type="checkbox" id="hour-8" onchange="toggleHour(this)">
            <label for="hour-8">08:00</label>
        </div>
        <div class="col-md-1">
            <input type="checkbox" id="hour-9" onchange="toggleHour(this)">
            <label for="hour-9">09:00</label>
        </div>
        <div class="col-md-1">
            <input type="checkbox" id="hour-10" onchange="toggleHour(this)">
            <label for="hour-10">10:00</label>
        </div>
        <div class="col-md-1">
            <input type="checkbox" id="hour-11" onchange="toggleHour(this)">
            <label for="hour-11">11:00</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <input type="checkbox" id="hour-12" onchange="toggleHour(this)">
            <label for="hour-12">12:00</label>
        </div>
        <div class="col-md-1">
            <input type="checkbox" id="hour-13" onchange="toggleHour(this)">
            <label for="hour-13">13:00</label>
        </div>
        <div class="col-md-1">
            <input type="checkbox" id="hour-14" onchange="toggleHour(this)">
            <label for="hour-14">14:00</label>
        </div>
        <div class="col-md-1">
            <input type="checkbox" id="hour-15" onchange="toggleHour(this)">
            <label for="hour-15">15:00</label>
        </div>
        <div class="col-md-1">
            <input type="checkbox" id="hour-16" onchange="toggleHour(this)">
            <label for="hour-16">16:00</label>
        </div>
        <div class="col-md-1">
            <input type="checkbox" id="hour-17" onchange="toggleHour(this)">
            <label for="hour-17">17:00</label>
        </div>
        <div class="col-md-1">
            <input type="checkbox" id="hour-18" onchange="toggleHour(this)">
            <label for="hour-18">18:00</label>
        </div>
        <div class="col-md-1">
            <input type="checkbox" id="hour-19" onchange="toggleHour(this)">
            <label for="hour-19">19:00</label>
        </div>
        <div class="col-md-1">
            <input type="checkbox" id="hour-20" onchange="toggleHour(this)">
            <label for="hour-20">20:00</label>
        </div>
        <div class="col-md-1">
            <input type="checkbox" id="hour-21" onchange="toggleHour(this)">
            <label for="hour-21">21:00</label>
        </div>
        <div class="col-md-1">
            <input type="checkbox" id="hour-22" onchange="toggleHour(this)">
            <label for="hour-22">22:00</label>
        </div>
        <div class="col-md-1">
            <input type="checkbox" id="hour-23" onchange="toggleHour(this)">
            <label for="hour-23">23:00</label>
        </div>
    </div>
</div>
