{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <title>{% block title %} {% endblock %}</title>
    {% block head %}
    {% endblock %}
</head>
<body>
<div style="position: relative; min-height: 100vh;">
    <div style="padding-bottom: 10rem">
        {% block content %}
        {% endblock %}
    </div>
    <div style="margin-top: 0">
        {% include 'footer.html' %}
    </div>
</div>

</body>
</html>
<!Using: https://bootswatch.com/litera/>

