{% extends 'base.html' %}
{% load custom_tags %}

{% block content %}
    {% if user.is_authenticated %}
        {% logged_header request 0 %}
    {% else %}
        {% include 'unloggedheader.html' %}
    {% endif %}
    <div style="width: 100%; height: 50rem; background-size: cover; background-position:center; background-image: url('media/homepage.jpg')">
        <h1 style="padding-left: 20vw; padding-top:40vh;font-size: 100px; color: whitesmoke"> Allenati con noi... </h1>
    </div>
{% endblock %}