<div style="justify-content: center; display: flex; ">
    <ul class="pagination" style="align-content: center; margin: 0">
        <! -------------------- Previous Button ------------------- >
        {% if previous_link %}
            <li class="page-item">
                <a class="page-link" href="{{ previous_link }}">&laquo;</a>
            </li>
        {% endif %}
        <! --------------------------------------------------- >
        <! ------------------- Next Button ------------------- >

        {% if next_link %}
            <li class="page-item">
                <a class="page-link" href="{{ next_link }}">&raquo;</a>
            </li>
        {% endif %}
        <! --------------------------------------------------- >

    </ul>
</div>
